.btnGroup__btn.btnGroup__btn_icon{
    background-color: #0057ad;
    border-color: #0057ad;
    position: relative;

}
.btnGroup__btn.btnGroup__btn_icon i{
    color: aqua;
    position: absolute;
    left: 30px;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.btnGroup__btn.btnGroup__btn_icon:hover{
    background-color: transparent;
}
.btnGroup__btn.btnGroup__btn__icon:hover i.btnGroup__btn__icon-icon {
    color: red;
}
