table.tablePrice td {
    font-size:13px;
    color:#354251;
}
table.tablePrice tr:hover td {
    color:#354251;
    cursor:default;
}
table.tablePrice tr:nth-child(2n) td{
    color: #fff;
}
table.tablePrice tr:nth-child(2n):hover td{
    color:#354251;
}

