.btnGroup{
    margin: 0 auto;
}
.btnGroup__btn{
    width: 300px;
    height: 50px;
    display: block;
    margin: 10px 0;
    font-size: 18px;
    border: 1px solid;
    cursor: pointer;
    transition: all .5s ease;
    color: white;
}
.btnGroup__btn:hover{
    color: black;
}
/*Button Red START*/
.btnGroup__btn.btnGroup__btn--red{
    background-color: red;
    border-color: red;
}
.btnGroup__btn.btnGroup__btn--red:hover{
    background-color: transparent;
}
/*Button Red END*/

/*Button Green START*/
.btnGroup__btn.btnGroup__btn--green{
    background-color: green;
    color: #fff;
    border-color: green;
}
.btnGroup__btn.btnGroup__btn--green:hover{
    background-color: transparent;
    color: black;
}
/*Button Green END*/

/*Button Image START*/
.btnGroup__btn.btnGroup__btn__image{
    position: relative;
    background: grey;
    border-color: gainsboro;
}
.btnGroup__btn.btnGroup__btn__image img.btnGroup__btn__image-img{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    transition: all .3s ease-in-out;
}
.btnGroup__btn.btnGroup__btn__image:hover{
    background-color: transparent;
}
/*Button Image END*/

/*Button Icon START*/
.btnGroup__btn.btnGroup__btn__icon{
    background-color: #0057ad;
    border-color: #0057ad;
    position: relative;

}
.btnGroup__btn.btnGroup__btn__icon i{
    color: aqua;
    position: absolute;
    left: 30px;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.btnGroup__btn.btnGroup__btn__icon:hover{
    background-color: transparent;
}
.btnGroup__btn.btnGroup__btn__icon:hover i.btnGroup__btn__icon-icon {
    color: red;
}