/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Custom CSS Start*/
body{
    font-family: 'Montserrat', sans-serif !important;
    min-height: 100vh;
    position: relative;
}

html, body{
    overflow-x: hidden;
}
main{
    margin-bottom: 122px;
}
.sectionTitle{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 50px;
}
.container{
    width: 1140px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}
header{
    background-color: antiquewhite;
}
.headerWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.mainLogo img{
    width: 100%;
    max-width: 150px;
}
.headerWrap__logo{
    width: 30%;
}
.headerWrap__logo img{
    width: 100%;
    max-width: 150px;
}
.headerWrap__menu{
    width: 70%;
}
.headerWrap__menu nav ul{
    display: flex;
    justify-content: space-around;
}
.headerWrap__menu nav ul li>a{
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
.infoWrap{
    padding: 50px 0 90px;
    margin-bottom: 80px;
    background: #0057ad;
    color: #fff;
}
.infoWrap__allContent {
    display: flex;
    flex-direction: row-reverse;
}
.infoWrap .infoWrap--sidebar{
    width: 30%;

}
ul.infoWrap--sidebar__menu {
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    text-align: center;
}
ul.infoWrap--sidebar__menu li{
    padding: 15px 0;

}
.infoWrap--sidebar__menu li>a{
    color: #d0dc6e;
    padding: 20px 0;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    font-weight: 700;
}
.infoWrap--sidebar__menu li>a:hover{
    color: white;
    font-weight: 600;
    transition: all .5s ease;
}
.infoWrap .infoWrap--content{
    width: 70%;
}
.infoWrap--contentTop {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    flex-direction: row-reverse;
}
.autorInfo--image {
    width: 400px;
    max-width: 100%;
    height: 400px;
}
.aboutAutor {
    text-align: center;
    max-width: 350px;
    width: 100%;
}
.autorInfo--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p.autorInfo--description{
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}
h1 {
    font-size: 60px;
    letter-spacing: 5.5px;
    margin-bottom: 20px;
}
.autorInfo--name, .autorInfo--date{
    font-size: 22px;
}
/* p.autorInfo--description {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
} */
.infoWrap--contentBottm p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}
p + p{
    margin-top: 30px;
}
article{
    margin: 50px 0;
}
article p>img{
    float: left;
    margin: 0 19px 10px 0;
}
article p{
    line-height: 26px;
}

/*Services section Start*/
.servicesItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.servicesItem:last-of-type{
    margin-bottom: 0;
}
.servicesItem:nth-child(2n){
    flex-direction: row-reverse;
}
.servicesItem__content, .servicesItem__image{
    width: 100%;
    max-width: 50%;
}
.servicesItem__contentWrap{
    width: 80%;
    margin: 0 auto;
}
.servicesItem__image img{
    width: 100%;
    object-fit: cover;
}
h3.servicesItem__content--title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
    font-weight: 500;
}
p.servicesItem__content--description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
}
a.servicesItem__content--btn{
    padding: 12px 40px;
    background-color: rgb(231, 163, 80);
    color: black;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 30px;
    transition: all .5s ease;
    border: 1px solid rgb(231, 163, 80);
    box-sizing: border-box;
    box-shadow: 1px 3px 9px #c5c5c5;
}
a.servicesItem__content--btn:hover{
    background-color: rgb(233, 199, 159);
    box-shadow: none
}

.start{
    padding: 50px 0;
}

footer {
    background-color: #dcdcdc;
    padding: 35px 0 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;

    box-sizing: border-box;
}
.footerMenu{
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}
.footerMenu nav ul{
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.footerMenu nav ul li>a{
    color: #000;
    text-decoration: none;
}