.tablePrice__title.tablePrice__title__tr.tablePrice__title__tr__th_color-grey{
    color: grey;
}
.tablePrice__title.tablePrice__title__tr.tablePrice__title__tr__th_color-green{
    color: green;
}
.tablePrice__title.tablePrice__title__tr.tablePrice__title__tr__th_color-blue{
    color: blue;
}
.tablePrice__title.tablePrice__title__tr.tablePrice__title__tr__th_color-red{
    color: red;
}