.tablePrice__title.tablePrice__title__tr.tablePrice__title__tr__th_color_grey{
    color: grey;
}
.tablePrice__title.tablePrice__title__tr.tablePrice__title__tr__th_color_green{
    color: green;
}
.tablePrice__title.tablePrice__title__tr.tablePrice__title__tr__th_color_blue{
    color: blue;
}
.tablePrice__title.tablePrice__title__tr.tablePrice__title__tr__th_color_red{
    color: red;
}