.tablePrice__body.tablePrice__body__tr__td.tablePrice__body__tr__td_color_yellow{
    color: yellow;
}
.tablePrice__body.tablePrice__body__tr__td.tablePrice__body__tr__td_color_red{
    color: red;
}
.tablePrice__body.tablePrice__body__tr__td.tablePrice__body__tr__td_color_blue{
    color: blue;
}
.tablePrice__body.tablePrice__body__tr__td.tablePrice__body__tr__td_color_black{
    color: black;
}