.tablePrice__body.tablePrice__body__tr__td.tablePrice__body__tr__td_color-yellow{
    color: yellow;
}
.tablePrice__body.tablePrice__body__tr__td.tablePrice__body__tr__td_color-red{
    color: red;
}
.tablePrice__body.tablePrice__body__tr__td.tablePrice__body__tr__td_color-blue{
    color: blue;
}
.tablePrice__body.tablePrice__body__tr__td.tablePrice__body__tr__td_color-black{
    color: black;
}